{{ define "main" }}
<ol class="doors">
  <li><a href="{{ "history/" | relURL }}">History</a></li>
  <li><a href="{{ "topics/research/science-catalogue/" | relURL }}">Science</a></li>
  <li><a href="{{ "topics/manufacturing/directory/" | relURL }}">Manufacturing</a></li>
  <li><a href="{{ "topics/finance/listings/" | relURL }}">Companies</a></li>
  <li><a href="{{ "topics/medical/" | relURL }}">Medical</a></li>
  <li><a href="{{ "topics/fringe/" | relURL }}">Fringe</a></li>
  <li><a href="{{ "guides/" | relURL }}">Look up</a></li>
  <li><a href="{{ "reference/figures/" | relURL }}">Figures</a></li>
</ol>
<p class="mail"><a href="mailto:contact@graphenefacts.org">contact@graphenefacts.org</a></p>
{{ end }}
